* {
  box-sizing: border-box;
}

body,
html {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  max-width: 100vw;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background-color: $main-color;
  padding: 0;
  margin: 0;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}