.user-list {
  width: 47%;
  max-height: 100%;
  background-color: $white-color;
  @include flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
}

.user-items {
  @include flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 3px dotted rgb(104, 106, 102);

  & img {
    height: 50px;
    width: 50px;
    margin: 1.5rem;
  }
}

.item-info {
  @include flex;
  align-items: center;
}

.item-count {
  @include flex;
  align-items: center;
}

.item-icon {
  color: $main-color;
  font-size: 1.5rem;
  margin: 0.8rem;
  cursor: pointer;
}

.order-item {
  margin-top: 7rem;
  border-top: 3px dotted rgb(104, 106, 102);
}

.order-icon {
  color: rgb(104, 106, 102);
}

.item-total-price {
  width: 100%;
  @include flex;
  justify-content: flex-end;

  & h2 {
    margin: 20px 0 0;
  }
}

.item-price {
  @include flex;
  flex-direction: column;
  align-items: center;
}

.item-moms {
  margin: 0 3rem;
  align-items: center;
}