@media screen and (max-width: $mobile) {
  .header-accessories h3,
  .main-footer,
  .main-section,
  .user-text {
    width: 100%;
    font-size: 12px;
  }

  .user-information,
  .user-interface,
  .user-items,
  .user-list {
    display: block;
    margin: 1rem auto;
    width: 90%;
    font-size: 1rem;
    padding: 0;
  }

  .order-item {
    display: flex;
  }

  .item-icon {
    margin: 12px;
  }

  .main-footer {
    margin: auto;
  }

  .item-price,
  .pen-icon {
    padding: auto;
    margin: auto;
  }

  .sidebar {
    display: block;
    position: static;
    width: 100%;
    margin: 1rem;
  }

  .side-calculator {
    margin-bottom: 1rem;
  }

  .order-shop {
    display: flex;
    position: static;
  }

  h3 {
    font-size: 20px;
  }

  .modal {
    padding-top: 25px;
  }

  .modal-content {
    width: 90%;
  }
}
@media screen and (max-width: $laptop) {
  .side-text,
  .sidebar {
    padding: 8px;
    font-size: 1rem;
  }

  .mobile-numbers,
  .order-shop,
  .user-items {
    font-size: 16px;
  }
}
@media screen and (min-width: $desktop) {
  .main-footer {
    @include flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $secondary-color;
    width: 80%;
  }
}